@import "variable";

:root{
    --primary: #FFC400;
}

html {
    font-size: 16px;
    overflow-wrap: break-word;
}
@media only screen and (min-width: 1024px) and (max-width: 1200px)  {
    html { font-size: 14px; }
}
@media only screen and (min-width: 769px) and (max-width: 1024px)  {
    html { font-size: 12px; }
}
@media only screen and (min-width: 481px) and (max-width: 768px)  {
    html { font-size: 10px; }
    ::-webkit-scrollbar {
        width: 3px !important;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px)  {
    html { font-size: 8px; }
    ::-webkit-scrollbar {
        width: 3px !important;
    }
}

* , *::after,*::before{
    box-sizing: border-box;
    font-family: Gilroy;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //overflow: hidden;
}

.onHoverLink{
    color: #FFC400;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFC400;
}