@import "variable";

:root{
    --primary: #FFC400;
}

* , *::after,*::before{
    box-sizing: border-box;
    font-family: Gilroy;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //overflow: hidden;
}

.onHoverLink{
    color: #FFC400;
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFC400; 
}