.home_container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow: hidden;
    color: #fff;
    z-index: 1;
    > span{
        position: relative;
        display: block;
        width: 10px;
        height: 10px;
    }
    span::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: 40%;
        background: ivory;
        // box-shadow: 0 0 1px #fff,
        //             0 0 3px #fff,
        //             0 0 5px #fff,
        //             0 0 6px #fff,
        //             0 0 7px #fff,
        //             0 0 8px #fff,
        //             0 0 9px #fff,
        //             0 0 10px #fff;
        border-radius: 50%;
        transform: scale(0);
        transition: 14s;
    }
    span:hover::before{
        transition: 0s;
        transform: scale(1);
    }
    .ml15 {
        font-weight: 800;
        font-size: 3.8em;
        text-transform: uppercase;
        letter-spacing: 0.5em;
    }
      
    .ml15 .word {
        display: inline-block;
        line-height: 1em;
    }

    .typing_container{
        position: absolute;
        left: 5%;
        top: 20%;
        width: 80%;
        z-index: 20;
        font-size: 6rem;
        font-weight: 600;
        pointer-events: none;
    }
    .downarrow{
        position: absolute;
        top: 95%;
        bottom: 0%;
        // animation-delay: 8s;
        cursor: pointer;
    }
    .letter{
        cursor: pointer !important;
    }
}