.myskill_container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #18191a;
    padding: 3% 5%;
    color: #fff;
    .description-container{
        width: 45%;
        .myskill_typo{
            font-size: 6rem;
            white-space: nowrap;
        }
    }
    .skillset-container{
        width: 40%;
        .skill_row{
            margin-bottom: 1rem;
            .skill_name{
                margin-bottom: .5rem;
            }
            .scaling_line{
                width: 100%;
                height: 3px;
                border-radius: 1px;
                background: #fff;
                overflow: hidden;
                .colored_line{
                    display: block;
                    height: 100%;
                    animation: progress-animation 2s linear infinite;
                }
            }   
        }
    }
}

@keyframes progress-animation{
    0%{ background-position: 100% }
    100%{ background-position: 0% }
}

@media only screen and (min-width: 320px) and (max-width: 768px)  {
    .myskill_container{
        .description-container, .skillset-container{
            width: 100% !important;
        }
        .myskill_typo{
            font-size: 2.8rem !important;
            p{
                font-size: 1.8rem !important;
            }
        }
    }
}