.navigator{
    background: #0A0A0A;   
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    .logo{
        background: #000;
        padding: 1rem;
        cursor: pointer;
    }
    .nav__li{
        padding: 1rem;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        :hover{
            color: #FFC400;
        }
    }
    .social__tab{
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        border-bottom: 2px solid #000;   
        img:hover{
            cursor: pointer;
        }
    }
}