.profile_card{
    width: 100%;
    margin-bottom: 1rem;
    background: #2A2A2A;
    padding: 1rem;
    .job_role{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .company_name{
        font-size: 1rem;
    }
    .duration{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .desc{
        font-size: 1rem;
    }
}